name: Tests

on: [pull_request]

jobs:
  lint:
    runs-on: macos-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      - name: Specify node version
        uses: actions/setup-node@v2-beta
        with:
          node-version: 16

      - name: Use npm caches
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: Use node_modules caches
        id: cache-nm
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-nm-${{ hashFiles('package-lock.json') }}

      - name: Install node_modules
        if: steps.cache-nm.outputs.cache-hit != 'true'
        run: npm install

      - name: Run tests
        run: npm run lint
